 /* start buttons footer*/


 .phone-icon {
    position: absolute;
    left: 24px;
    top: 804px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--main-bg-color);
 }

 .message-icon{
    position: absolute;
    left: 80px;
    top: 804px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--main-bg-color);
 }

 .contacts-icon{
    position: absolute;
    left: 136px;
    top: 804px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--main-bg-color);
 }


.phone-icon:hover,
.contacts-icon:hover,
.message-icon:hover{
transform: scale(1.1);
}

 /*end buttons */


 .mailto{
     position:absolute;  
     height: 24px;
     left: 24px;
     top: calc(50% - 24px/2 + 360px);
     font-size: 16px;
     line-height: 24px;
     letter-spacing: -0.2px;
     color: #1B1C21;
 }

 .mailto:hover{
     box-shadow:  1px 1px 1px 1px grey;
 }


 .telephone{
    position: absolute;
    height: 32px;
    left: 24px;
    top: calc(50% - 32px/2 + 400px);
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    font-weight: bold;
 }

 .telephone:hover{
     transform: scale(1.05);
     color: #1B1C21;
 }

 .footer__checkbox{
     position: absolute;
    display: inline-block;
    height: 24px;
    left: 24px;
    top: 968px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: black;
 }
