:root {
    --main-bg-color: #ff3e79;
  }

  .menu{
      display: flex;
      width: 320px;
      align-items:  center;
      background-color: #ffffff;
  }

  /* burger start */
  .menu__burger {
    position: absolute;
    top: 24px;
    left: 23px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--main-bg-color);
  }
  
  .menu__anchor {
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 10px);
    width: 10px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
    display: inline-block;
  }
  
  .menu__anchor:before {
    content: '';
    width: 18px;
    height: 2px;
    position: absolute;
    background-color: #fff;
    transform: translateY(-5px);
  }
  
  .menu__anchor:after {
    content: '';
    width: 16px;
    height: 2px;
    position: absolute;
    background-color: #fff;
    transform: translateY(5px);
  }
  /* burger end */

  .menu__logo {
    position: absolute;
    top: 19px;
    left: 81px;
    width: 100px;
    height: 50px;
    background-image: url("../assets/img/logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .search-icon {
    position: absolute;
    top:23px;
    right: 24px;
    background-color: var(--main-bg-color);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: inline-block;
  }