:root {
    --main-bg-color: #ff3e79;
  }

  .menu{
      display: flex;
      width: 320px;
      align-items:  center;
      background-color: #ffffff;
  }

  /* burger start */
  .menu__burger {
    position: absolute;
    top: 24px;
    left: 23px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--main-bg-color);
    cursor: pointer;
    overflow: hidden;
  }

  .menu__burger span{
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 12px);
    width: 22px;
    height: 2px;
    background-color: #fff;
    border-radius: 3px;
    display: inline-block;
  }

  .menu__burger span:nth-child(2){
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 12px); 
  }

  .menu__burger span:nth-child(3){
    position: absolute;
    top: calc(50% + 3px);
    left: calc(50% - 12px); 
  }
  
  .menu__burger:hover span:nth-child(1){
   transform: scale(0);
   transition: all 0.7s ease-in-out;
  }

  .menu__burger:hover span:nth-child(2){
    transition: all 0.5s ease-in-out;
    transform: translateY(4px) rotate(135deg);
}

   .menu__burger:hover  span:nth-child(3){
    transition: all 0.5s ease-in-out;
    transform: translateY(-4px) rotate(-135deg);
}

 
  /* burger end */

  .menu__logo {
    position: absolute;
    top: 19px;
    left: 81px;
    width: 100px;
    height: 50px;
    background-image: url("../assets/img/logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  


  .search-icon {
    position: absolute;
    top:23px;
    right: 24px;
    background-color: var(--main-bg-color);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: inline-block;
  }

  .search-icon:hover{
      transform: scale(1.1);
  }