* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  
  html {
    width: 768px;
    height: 1024px;
    background: #F2F2F2;
    
  }
  
  li,
  a {
    color: #1B1C21;
  }
  
  body {
    position: absolute;
    left: 41.67%;
    right: 16.67%;
    top: 0%;
    bottom: 0%;
    width: 320px;
    height: 1024px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #FFFFFF;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }